.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    padding: 1rem 0;
    margin: 0 auto;
}

.header__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo img:first-child{
    margin-right: 5px;
}

.header__pesquisar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    height: 60%;
    padding: 2.5px 10px;
    margin: 0 30px;
    border: solid #F5F5F5 2px;
    border-radius: 20px;
    background-color: #F5F5F5;
}

.header__pesquisar:focus-within {
    border-color: #2A7AE4;
}

.header__pesquisar--input{
    width: 100%;
    border: none;
    background-color: transparent;
}

.header__pesquisar--input:focus{
    outline: none;
}

.header__pesquisar--input::placeholder{
    opacity: 70%;
}

.header__pesquisar--lupa{
    height: 1.5rem;
    aspect-ratio: 1/1;
    border: none;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.header__button{
    padding: 14px 70px;
    margin-left: auto;
    border: solid 1px #2A7AE4;
    color: #2A7AE4;
    text-decoration: none;
    transition: .4s;
}

.header__button:hover{
    color: #FFFFFF;
    background-color: #2A7AE4;
}

@media screen and (max-width: 768px) {
    .header{
        width: 95%;
    }

    .header__logo img{
        height: 15px;
    }

    .header__logo img:first-child{
        height: 25px;
    }

    .header__pesquisar{
        width: 270px;
    }

    .header__button{
        padding: 10px 50px;
    }
}

@media screen and (max-width: 430px) {
    .header{
        justify-content: space-between;
    }

    .header__pesquisar{
        width: 2rem;
        height: 2rem;
        margin: 0;
        padding: 0;
        border-color: white;
        background-color: white;
        order: 1;   
    }

    .header__pesquisar--input{
        display: none;
    }

    .header__pesquisar--lupa{
        margin: auto;
        filter: brightness(50%);
    }

    .header__button{
        margin: 0;
    }
}