.login{
    width: 100%;
    padding: 75px 0;
    background-color: #F5F5F5;
}

.login__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 650px;
    height: 350px;

    margin: 0 auto;
    padding: 30px;

    border-radius: 10px;

    background-color: white;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login__div{
    position: relative;
}

.login__form > *{
    height: 18%;
}

.login__titulo{
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
}

.login__form input{
    border-radius: 5px;
    font-size: 1.2rem;
}

.login__campo{
    width: calc(95.6% - 2px);
    height: 100%;
    padding: 0 2.2%;
    border: solid black 1px;
}

.login__campo::placeholder{
    color: transparent;
}

.login__campo:focus{
    outline-color: #2A7AE4;
}

.login__label{
    position: absolute;
    top: 1.1rem;
    left: calc(.05rem + 2%);
    padding: 0 .2rem;
    background-color: white;
    color: #00000082;
    font-size: 1.2rem;
    pointer-events: none;
    transition: .5s;
}

.login__campo:focus + .login__label,
.login__campo:not(:placeholder-shown) + .login__label{
    font-size: 1rem; 
    transform: translate(0, -1.7rem);
    
}

.login__campo:focus + .login__label{
    color: #2A7AE4;
}

.login__enviar{
    width: 100%;
    border: solid #2A7AE4 10px;
    background-color: #2A7AE4;
    color: #FFFFFF;
    cursor: pointer;
    transition: .5s;
}

.login__enviar:hover{
    border-color: #0f53ac;
    background-color: #0f53ac;
}

@media screen and (max-width: 430px){
    .login__form{
        width: 300px;
        height: 300px;
    }

    .login__form input, .login__label{
        font-size: 1rem;
    }
}

@media screen and (max-width: 930px) and (orientation: landscape){
    .login{
        padding: 25px 0;
    }
    .login__form{
        width: 500px;
        height: 250px;
    }
}