.login{
    width: 100%;
    padding: 75px 0;
    background-color: #F5F5F5;
}

.login__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    height: 350px;
    margin: 0 auto;
    padding: 30px;
}

.login__form input{
    font-size: 1.2rem;
}

.login__form > *{
    height: 18%;
}

.login__div{
    position: relative;
    width: 100%;
}

.login__titulo{
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
    color: #464646;
}

.login__campo{
    width: calc(100% - 1rem);
    height: 2rem;
    padding: 1.3rem .5rem .5rem;
    border: none;
    text-align: left;
    text-align: start;
    box-shadow: 0 1px rgb(129, 128, 128);
}

.login__campo::placeholder{
    color: transparent;
}

.login__campo:focus{
    outline-color: #2A7AE4;
}

.login__label{
    position: absolute;
    left: .5rem;
    top: .5rem;
    font-size: .8rem;
    color: #5d5d5d;
}

.login__campo:focus + .login__label{
    color: #2A7AE4;
}

.login__enviar{
    width: 100%;
    border: solid #2A7AE4 10px;
    background-color: #2A7AE4;
    color: #FFFFFF;
    box-shadow: 0 1px rgb(129, 128, 128);
    cursor: pointer;
    transition: .5s;
}

.login__enviar:hover{
    border-color: #0f53ac;
    background-color: #0f53ac;
}

@media screen and (max-width: 430px){
    .login__form{
        width: 300px;
        height: 300px;
    }

    .login__form input, .login__label{
        font-size: 1rem;
    }
}

@media screen and (max-width: 930px) and (orientation: landscape){
    .login{
        padding: 25px 0;
    }
    .login__form{
        width: 500px;
        height: 250px;
    }
}