.secoes{
    display: flex;

    width: calc(80% + 8px);
    
    margin: 5vh auto;
}

.secao{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.secao__cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
    padding: 0 3px;
    color: #464646;
}

.secao__cabecalho--mais{
    font-size: 1.2rem;
    font-weight: bold;
    color: #2A7AE4;
    cursor: pointer;
    text-decoration: none;
}

.secao__cabecalho--mais:hover{
    border-bottom: solid 2px #114992;
    color: #114992;
}

.secao__conteudo{
    display: flex;
    justify-content: space-between;

    height: 40vh;

    margin-bottom: 10vh;
}

.secao__unidade{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 15%;
    height: 100%;
    padding: 2px;
    border: solid #ffffff00 2px;

    transition: .1s;
    
    cursor: pointer;
}

.secao__unidade:hover{
    background-color: #FFFFFF;
    box-shadow: 0 0 20px;
    transform: scale(1.1);
}

.secao__unidade--valor{
    font-weight: bold;
}

.secao__unidade--mais{
    color: #2A7AE4;

    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .secoes{
        width: 90%;

        overflow-x: hidden;
    }

    .secao__unidade{
        width: 22%;
        margin-right: 3.5%;
    }

    .secao__unidade:hover{
        border: none;
        
        transform: scale(1.0);
    }

    .secao__unidade--nome{
        font-size: .9rem;
    }
}

@media screen and (max-width: 430px) {
    .secoes{
        width: 90%;
        overflow-x: initial;
    }

    .secao__conteudo{
        justify-content: space-between;
        flex-wrap: wrap;
        height: 55vh;
        padding-bottom: 0rem;
    }

    .secao__conteudo:last-child{
        margin-bottom: 5vh;
    }

    .secao__unidade{
        width: 45%;
        height: 28vh;

        margin-bottom: 2rem;
        margin-right: 0;
    }

    .secao__unidade:nth-child(n+5){
        display: none;
    }
}

@media screen and (max-width: 930px) and (orientation: landscape) {
    .secao__unidade{
        height: 50vh;
    }

    .secao__conteudo{
        margin-bottom: 15vh;
    }

    .secao__unidade:hover{
        border: none;
        
        transform: scale(1.0);
    }
}